#Maths_problem{
    color: rgba(35, 112, 12, 0.719);
}
#s1{
    color: rgb(145, 15, 15);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.A{
    font-size: 100;
    text-align: justify;
}